body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

nav li a {
    text-decoration: none;
    color: inherit;
}



.backdrop {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.backdrop-content {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.5); /* petit voile noir derrière le texte pour la lisibilité */
    padding: 2rem;
    border-radius: 10px;
}